﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebApplication1.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/xlsx/dist/shim.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

    <script>
        $(document).ready(function () {

            var filename = "write.xlsx";
            var ProcResults = [];
            ProcResults.push(jQuery.parseJSON('{"IsOk": false, "resultMessage": "dfsfsdfsdf"}'));
            ProcResults.push(jQuery.parseJSON('{"IsOk": false, "resultMessage": "dfsfsdfsdf"}'));
            debugger;


            //var aoa = [];
            //for (var i = 0; i < ProcResults.length; ++i) {
            //    for (var j = 0; j < ProcResults[i].length; ++j) {
            //        debugger;
            //        if (!aoa[j]) aoa[j] = [];
            //        aoa[j][i] = ProcResults[i][j];
            //    }
            //}

            debugger;
            var ws_name = "SheetJS";

            if (typeof console !== 'undefined') console.log(new Date());
            var wb = XLSX.utils.book_new(), ws = XLSX.utils.json_to_sheet(ProcResults);

            /* add worksheet to workbook */
            XLSX.utils.book_append_sheet(wb, ws, ws_name);

            /* write workbook */
            if (typeof console !== 'undefined') console.log(new Date());
            XLSX.writeFile(wb, filename);
            if (typeof console !== 'undefined') console.log(new Date());
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
