﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="WebForm1.aspx.vb" Inherits="WebApplication1.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <script>

        var Worker = Class.extend({

            doWork: function () {
                console.log("fdfdf");
            },
            callAjax: function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: "http://jamiryoo.com",

                    success: function (data, textStatus) {
                        console.log("success ");
                    },
                    fail: function (xhr, textStatus, errorThrown) {
                        console.log("fail ");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log("error ");
                    }
                });
            }

        });
          
        

        Worker.doWork();

    </script>

</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
